<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Logica.Properties.Settings.EjerciciosConnectionString"
            connectionString="Data Source=GUSTAVOPC;Initial Catalog=VPS_Ejercicios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>